body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 185, 240);
}

h1{
    font-size: 3.5rem;
    color:rgb(6, 111, 209);
}
.choices{
    width: 300px;
    margin: 100px auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #4f04a5;
    border-radius: 10px;
    box-shadow: #9072fa;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius:250px;
    background-color:rgb(90, 151, 221);
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.choices button:hover{
    background-color:rgba(47, 207, 247, 0.521) ;
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}