body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(111, 173, 243);
}

h1{
    font-size: 3.5rem;
    color:rgb(8, 66, 120);
}
.choices{
    width: 700px;
    margin: 100px auto;
    margin-bottom: 30px;
    padding: 20px 20px;
    border: 3px solid rgb(90, 151, 221);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    box-shadow:0 0 10px #0673c0;
    display: flex;                
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.choices button{
    

    font-size: 6.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius:250px;
    background-color:rgb(90, 151, 221);
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.choices button:hover{
    background-color:rgba(47, 207, 247, 0.521) ;
}
.result{
    font-size: 2.5rem;
    margin: 30px 0;
}
.score{
    font-size: 2.5rem;
    margin: 30px 0;
}